.film-container {
display: flex;
align-items: center;
justify-content: center;
background-color: #373434;
height: 100vh;

}

.film {
    display: flex;
    background-color: #d9d9d9;
    padding: 30px;
    width: 70%;
    border-radius: 25px;
    filter: drop-shadow(-8px 5px 10px #f0efef);
}

.affiche {
    width: 500px;

}

.film-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    gap: 1em;
    margin: auto;
    width: 50%;
}

.film-details span {
    font-weight: bold;
}